<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Dashboard</h1>

<canvas id="statusChart"></canvas>
<canvas id="categoryChart"></canvas>

<script>
console.log("JS NYALA");

document.addEventListener("click", function(e) {
    if (e.target.classList.contains("btn-detail")) {
        let id = e.target.dataset.id;

        fetch(`/detail/${id}/`)
        .then(res => res.json())
        .then(data => {

            document.getElementById("modal-title").innerText = data.title;
            document.getElementById("modal-desc").innerText = data.description;
            document.getElementById("modal-loc").innerText = data.location;

            let status = document.getElementById("modal-status");
            status.innerText = data.status;

            // warna status
            if (data.status === "RESOLVED") {
                status.style.color = "green";
            } else {
                status.style.color = "red";
            }

            document.getElementById("modal").style.display = "block";
        });
    }
});

function closeModal() {
    document.getElementById("modal").style.display = "none";
}
// STATUS
fetch('/dashboard/api/status/')
.then(res => res.json())
.then(data => {
    console.log("STATUS:", data);
});

// KATEGORI
fetch('/dashboard/api/kategori/')
.then(res => res.json())
.then(data => {
    console.log("KATEGORI:", data);
});

// LAST
fetch('/dashboard/api/last/')
.then(res => res.json())
.then(data => {
    console.log("LAST:", data);
});

document.getElementById("search").addEventListener("keyup", function() {
    let keyword = this.value.toLowerCase();
    let rows = document.querySelectorAll(".report-row");

    rows.forEach(row => {
        let text = row.innerText.toLowerCase();

        if (text.includes(keyword)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
    });
});
</script>
</body>
</html>