<h1>IET Report Home</h1>

<nav>
    <a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'contacts' %}">Contacts</a> |
    <a href="{% url 'add_report' %}">Tambah Laporan</a>
</nav>

<ul>
{% for report in reports %}
    <li>
        {{ report.title }} - {{ report.category }}

        {% if report.status == 'VERIFIED' %}
    ✅ Sudah Verifikasi
{% else %}
    ❌ Belum Verifikasi
{% endif %}
        <a href="{% url 'update_report' report.id %}">Edit</a>
        <a href="{% url 'delete_report' report.id %}">Hapus</a>

        {% if report.status != 'VERIFIED' %}
    <a href="{% url 'verify_report' report.id %}">Verifikasi</a>
{% endif %}
    </li>
{% endfor %}
</ul>